.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-fadeInUpBig ;
  height: 200px;
}

.App-header {
  background-color: #222;
  background:url('../img/stars-sky.jpg');
  height: 300px;
  padding: 20px;
  color: white;
  border-bottom: 2px solid yellow;
  box-shadow: 20px 0px 10px yellow;

}

